<header id="header" class="header relative bg-green-100 block text-black items-center p-4 md:p-6">
    {% include "components/mobile-nav.njk" %}
	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
</header>
