<a class="company-logo-link flex items-end sm:items-center font-philo font-bold text-2xl xs:text-3xl sm:text-4xl md:text-5xl hover:text-green-500" href="/" title="Accueil Maison Saint Vincent">
<img src="https://plchldr.co/i/90x120?bg=71BA51" alt="" class="inline-block"> <span class="ml-3">EHPA Maison Saint Vincent</span></a>