//==========  Links ==========//

a {
  color: $blue-700;
  transition: all .3s ease-out;
  text-decoration: none;
  border-block-end: 1px solid $blue-700;

  &:hover {
    color: $blue-500;
    border-block-end-color: $blue-500;
  }
}
