//==========  Typography ==========//

// headings
h1,
h2,
h3 {
  font-weight: 700;
  font-family: $title-font;
  line-height: 1.25;
  margin-block-start: 0;
  margin-block-end: 1.5rem;
  color: $purple-900;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}


.page-title {
  font-size: 3rem;
}

// content
.content {
  margin: 0 2rem;
  p,
  .section {
    margin: 2rem 0;
  }
}

blockquote {
  display: block;
  font-weight: 700;
  font-family: $title-font;
  font-size: 2rem;
  position: relative;
  padding-block-end: 2.5rem;
  margin: auto;
  width: 100% * 2 / 3;

  &:before {
    position: absolute;
    top: 0;
    line-height: 0;
    font-size: 15rem;
    content: "\00AB";
    color: rgba(0, 0, 0, 0.1);
  }

  &:after {
    border: 2px solid $blue-700;
    content: "";
    bottom: 1.5rem;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    height: 3px;
    width: 200px;
  }

  cite {
    display: block;
    font-size: 1.25rem;

    &:before {
      content: "– ";
    }
  }
}
