---
layout: default
---

<main id="main" class="main inner" tabindex="-1">

    <article id="container-centre" class="column centre">

        {% if displayTitle %}
            <header>
                <h1 class="page-title">{{ title }}</h1>
            </header>
        {% endif %}

        <div class="content">
            {% import "macros/utils.njk" as utils %}
            {{ content | safe }}
        </div>

    </article>

</main>
