
//========== Mobile Navigation ==========//

$transition-easing: cubic-bezier(.77, 0, .175, 1);
$transition-length: 0.5s;

// menu toggle button
.mobile-nav-toggle {

    .mobile-nav-icon-line {
        height: 2px;
    }

    .mobile-nav-label-close {
        display: none;
    }

    // when menu toggle is clicked
    &.menu-toggle-active {

        .mobile-nav-label-open {
            display: none;
        }

        .mobile-nav-label-close {
            display: inline-block;
        }

        .mobile-nav-icon-line {
            @apply m-0 bg-blue-900;

            &:nth-child(1) {
                transform: rotate(45deg) translateY(3px);
            }

            &:nth-child(2) {
                @apply opacity-0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-3px);
            }
        }
    }
}

// mobile menu
.mobile-nav {
    transform: translate3d(-100%, 0, 0);
    transition: transform $transition-length $transition-easing;
    transition-delay: 0.1s;
    will-change: transform;

    @apply fixed left-0 top-0 h-screen w-full overflow-y-auto pt-12 bg-blue-900 z-50;

    @screen md {
        @apply hidden;
    }

    // when menu is visible
    &.menu-visible {
        transform: translate3d(0, 0, 0);

        .item {
            @apply opacity-100;
            transform: translate3d(0, 0, 0);
        }
    }

    .item {
        @apply relative opacity-0;
        transition: opacity .5s ease, transform $transition-length $transition-easing;
        transform: translate3d(-50%, 0, 0);
        transition-delay: $transition-length;

        // incrementally delay our animations
        @for $i from 0 through 100 {

            &:nth-child(#{$i}) {
                transition-delay: $transition-length * $i / 8 + .5;
            }
        }
    }
}
