Notre adresse :

<address class="text-center">
Maison Saint Vincent<br>
24 rue d’Angoulême<br>
24460 Château-L’Évêque<br>
Tél. : <a href="tel:+33553543071">(+33) 05 53 54 30 71</a>
</address>


Le secrétariat de l'établissement est ouvert au public du lundi au vendredi de 8h30 à 17h.

{% include form-message.html.liquid %}

L'établissement est accessible en voiture depuis depuis l'autoroute A89 (Bordeaux - Lyon) sortie 14 ou depuis la nationale N21 (Limoges - Lourdes), suivez la D939 jusqu'à la gare de Château l'Evêque ou en train sur la ligne Limoges-Bénédictains - Périgueux (deux passages par jour, en semaine et le week-end), à quelques mètres de l'entrée de notre établissement.

{% include google-map.html.liquid %}