.header {
  position: relative;
  padding: 1rem;
  align-items: center;
  display: flex;
  background-color: $blue-100;

  @include media(">=md") {
    padding: 1.5rem;
  }
}

.company-name {
  font-family: $title-font;
  font-weight: 700;
  font-size: clamp(2rem, 7vw, 3rem);
  border: none;
  margin-left: 0.75rem;

  span {
    display: inline-block;
  }
}

.company-logo-link {
  display: inline-block;
  border: none;
  margin-right: 0.5rem;
}

.name-nav {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  width: 100%;
}

.nav {
  display: none;
  margin-block-start: 0.75rem;
  font-weight: 700;
  font-size: 1rem;

  @include media(">=md") {
    display: block;
    width: 100%;
  }

  @include media(">=lg") {
    font-size: 1.25rem;
  }

  &-list {
    display: flex;

    &-item {
      flex: 1 1 auto;
      margin-right: 0.5rem;

      a:not(.btn) {
        border-block-end: 1px solid $blue-700;
        display: block;
        padding: 0.5rem 0;
        text-align: center;
        font-weight: bold;

        @include media(">=md") {
          margin: 0 0.25rem;
        }

        @include media(">=lg") {
          margin: 0 0.75rem;
        }

        &:hover {
          color: $blue-500;
          border-color: $blue-300;
        }

        &.active {
          color: $blue-500;
          border-color: $blue-500;
        }
      }
    }
  }
}
