.header {
  position: relative;
  padding: 1rem;
  align-items: center;
  display: block;
  background-color: $blue-100;

  @include media(">=md") {
    padding: 1.5rem;
  }
}

.company-logo-link {
  display: flex;
  align-items: flex-end;
  font-family: $title-font;
  font-weight: 700;
  font-size: 1.5rem;

  &:hover {
    color: $blue-500;
  }

  @include media(">=xs") {
    font-size: 1.875rem;
  }
  @include media(">=sm") {
    align-items: center;
    font-size: 2.25rem;
  }

  @include media(">=md") {
    font-size: 3rem;
  }

  &-image {
    display: inline-block;
  }

  &-label {
    margin-left: 0.75rem;
  }
}

.nav {
  display: none;
  margin-block-start: 0.75rem;
  font-weight: 700;
  font-size: 1rem;

  @include media(">=md") {
    display: block;
    width: 100%;
  }

  @include media(">=lg") {
    font-size: 1.25rem;
  }

  &-list {
    display: flex;

    &-item {
      flex: 1 1 auto;
      margin-right: 0.5rem;

      a {
        border-block-end: 1px solid $blue-700;
        display: block;
        padding: 0.5rem 0;
        text-align: center;
        font-weight: bold;

        @include media(">=md") {
          margin: 0 0.25rem;
        }

        @include media(">=lg") {
          margin: 0 0.75rem;
        }

        &:hover {
          color: $blue-500;
          border-color: $blue-300;
        }

        &.active {
          color: $blue-500;
          border-color: $blue-500;
        }
      }
    }
  }
}
