.wrapper {
  padding-block-end: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;

  @include media(">=md") {
    padding-block-end: 0;
  }
}

.main {
  display: flex;
  flex: 1 1 0%;

  flex-direction: column;
  padding: 2.5rem 0;

  @include media(">=lg") {
    padding: 5rem 0;
  }

  &:focus {
    outline: 0;
  }
}

.column.centre {
  flex: 1 1 0%;
}
