@charset "UTF-8";
[data-lazy] {
  transition: opacity 0.25s ease-in;
  min-height: 120px;
  width: 100%;
  opacity: 0; }

.loaded {
  @apply opacity-100; }

.inner {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 1.5rem; }

html {
  box-sizing: border-box;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #2a4365;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.125rem; }

ol,
ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; }

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal; }

a {
  color: #2b6cb0;
  transition: all .3s ease-out;
  text-decoration: none;
  border-block-end: 1px solid #2b6cb0; }
  a:hover {
    color: #4299e1;
    border-block-end-color: #4299e1; }

h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Philosopher", serif;
  line-height: 1.25;
  margin-block-start: 0;
  margin-block-end: 1.5rem;
  color: #21183c; }

.page-title {
  font-size: 3rem; }

.content p {
  margin: 2rem; }

blockquote {
  display: block;
  font-weight: 700;
  font-family: "Philosopher", serif;
  font-size: 2rem;
  position: relative;
  padding-block-end: 2.5rem;
  margin: auto;
  width: 66.66667%; }
  blockquote:before {
    position: absolute;
    top: 0;
    line-height: 0;
    font-size: 15rem;
    content: "\00AB";
    color: rgba(0, 0, 0, 0.1); }
  blockquote:after {
    border: 2px solid #2b6cb0;
    content: "";
    bottom: 1.5rem;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    height: 3px;
    width: 200px; }
  blockquote cite {
    display: block;
    font-size: 1.25rem; }
    blockquote cite:before {
      content: "– "; }

.header {
  position: relative;
  padding: 1rem;
  align-items: center;
  display: block;
  background-color: #ebf8ff; }
  @media (min-width: 768px) {
    .header {
      padding: 1.5rem; } }

.company-logo-link {
  display: flex;
  align-items: flex-end;
  font-family: "Philosopher", serif;
  font-weight: 700;
  font-size: 1.5rem;
  border: none; }
  .company-logo-link:hover {
    color: #4299e1; }
  @media (min-width: 500px) {
    .company-logo-link {
      font-size: 1.875rem; } }
  @media (min-width: 640px) {
    .company-logo-link {
      align-items: center;
      font-size: 2.25rem; } }
  @media (min-width: 768px) {
    .company-logo-link {
      font-size: 3rem; } }
  .company-logo-link-image {
    display: inline-block; }
  .company-logo-link-label {
    margin-left: 0.75rem; }

.nav {
  display: none;
  margin-block-start: 0.75rem;
  font-weight: 700;
  font-size: 1rem; }
  @media (min-width: 768px) {
    .nav {
      display: block;
      width: 100%; } }
  @media (min-width: 1024px) {
    .nav {
      font-size: 1.25rem; } }
  .nav-list {
    display: flex; }
    .nav-list-item {
      flex: 1 1 auto;
      margin-right: 0.5rem; }
      .nav-list-item a {
        border-block-end: 1px solid #2b6cb0;
        display: block;
        padding: 0.5rem 0;
        text-align: center;
        font-weight: bold; }
        @media (min-width: 768px) {
          .nav-list-item a {
            margin: 0 0.25rem; } }
        @media (min-width: 1024px) {
          .nav-list-item a {
            margin: 0 0.75rem; } }
        .nav-list-item a:hover {
          color: #4299e1;
          border-color: #90cdf4; }
        .nav-list-item a.active {
          color: #4299e1;
          border-color: #4299e1; }

.mobile-nav-toggle {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 2px solid #2b6cb0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #2b6cb0;
  z-index: 50;
  color: white; }
  @media (min-width: 768px) {
    .mobile-nav-toggle {
      display: none; } }
  .mobile-nav-toggle:hover {
    background-color: #4299e1; }
  .mobile-nav-toggle .mobile-nav-icon-line {
    height: 2px;
    background-color: white;
    width: 1.5rem;
    display: block;
    transition: all 200ms ease-out;
    margin-block-end: 0.25rem; }
    .mobile-nav-toggle .mobile-nav-icon-line:last-of-type {
      margin-block-end: 0; }
  .mobile-nav-toggle .mobile-nav-label {
    margin-right: 0.5rem;
    font-weight: 500; }
    .mobile-nav-toggle .mobile-nav-label-close {
      display: none; }
  .mobile-nav-toggle.menu-toggle-active .mobile-nav-label-open {
    display: none; }
  .mobile-nav-toggle.menu-toggle-active .mobile-nav-label-close {
    display: inline-block; }
  .mobile-nav-toggle.menu-toggle-active .mobile-nav-icon-line {
    margin: 0;
    background-color: #2a4365; }
    .mobile-nav-toggle.menu-toggle-active .mobile-nav-icon-line:nth-child(1) {
      transform: rotate(45deg) translateY(3px); }
    .mobile-nav-toggle.menu-toggle-active .mobile-nav-icon-line:nth-child(2) {
      opacity: 0; }
    .mobile-nav-toggle.menu-toggle-active .mobile-nav-icon-line:nth-child(3) {
      transform: rotate(-45deg) translateY(-3px); }

.mobile-nav {
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s;
  will-change: transform;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding-block-start: 3rem;
  background-color: #2a4365;
  z-index: 50; }
  @media (min-width: 768px) {
    .mobile-nav {
      display: none; } }
  .mobile-nav.menu-visible {
    transform: translate3d(0, 0, 0); }
    .mobile-nav.menu-visible .item {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
  .mobile-nav .item {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transform: translate3d(-50%, 0, 0);
    transition-delay: 0.5s; }
    .mobile-nav .item:nth-child(0) {
      transition-delay: 0.5s; }
    .mobile-nav .item:nth-child(1) {
      transition-delay: 0.5625s; }
    .mobile-nav .item:nth-child(2) {
      transition-delay: 0.625s; }
    .mobile-nav .item:nth-child(3) {
      transition-delay: 0.6875s; }
    .mobile-nav .item:nth-child(4) {
      transition-delay: 0.75s; }
    .mobile-nav .item:nth-child(5) {
      transition-delay: 0.8125s; }
    .mobile-nav .item:nth-child(6) {
      transition-delay: 0.875s; }
    .mobile-nav .item:nth-child(7) {
      transition-delay: 0.9375s; }
    .mobile-nav .item:nth-child(8) {
      transition-delay: 1s; }
    .mobile-nav .item:nth-child(9) {
      transition-delay: 1.0625s; }
    .mobile-nav .item:nth-child(10) {
      transition-delay: 1.125s; }
    .mobile-nav .item:nth-child(11) {
      transition-delay: 1.1875s; }
    .mobile-nav .item:nth-child(12) {
      transition-delay: 1.25s; }
    .mobile-nav .item:nth-child(13) {
      transition-delay: 1.3125s; }
    .mobile-nav .item:nth-child(14) {
      transition-delay: 1.375s; }
    .mobile-nav .item:nth-child(15) {
      transition-delay: 1.4375s; }
    .mobile-nav .item:nth-child(16) {
      transition-delay: 1.5s; }
    .mobile-nav .item:nth-child(17) {
      transition-delay: 1.5625s; }
    .mobile-nav .item:nth-child(18) {
      transition-delay: 1.625s; }
    .mobile-nav .item:nth-child(19) {
      transition-delay: 1.6875s; }
    .mobile-nav .item:nth-child(20) {
      transition-delay: 1.75s; }
    .mobile-nav .item:nth-child(21) {
      transition-delay: 1.8125s; }
    .mobile-nav .item:nth-child(22) {
      transition-delay: 1.875s; }
    .mobile-nav .item:nth-child(23) {
      transition-delay: 1.9375s; }
    .mobile-nav .item:nth-child(24) {
      transition-delay: 2s; }
    .mobile-nav .item:nth-child(25) {
      transition-delay: 2.0625s; }
    .mobile-nav .item:nth-child(26) {
      transition-delay: 2.125s; }
    .mobile-nav .item:nth-child(27) {
      transition-delay: 2.1875s; }
    .mobile-nav .item:nth-child(28) {
      transition-delay: 2.25s; }
    .mobile-nav .item:nth-child(29) {
      transition-delay: 2.3125s; }
    .mobile-nav .item:nth-child(30) {
      transition-delay: 2.375s; }
    .mobile-nav .item:nth-child(31) {
      transition-delay: 2.4375s; }
    .mobile-nav .item:nth-child(32) {
      transition-delay: 2.5s; }
    .mobile-nav .item:nth-child(33) {
      transition-delay: 2.5625s; }
    .mobile-nav .item:nth-child(34) {
      transition-delay: 2.625s; }
    .mobile-nav .item:nth-child(35) {
      transition-delay: 2.6875s; }
    .mobile-nav .item:nth-child(36) {
      transition-delay: 2.75s; }
    .mobile-nav .item:nth-child(37) {
      transition-delay: 2.8125s; }
    .mobile-nav .item:nth-child(38) {
      transition-delay: 2.875s; }
    .mobile-nav .item:nth-child(39) {
      transition-delay: 2.9375s; }
    .mobile-nav .item:nth-child(40) {
      transition-delay: 3s; }
    .mobile-nav .item:nth-child(41) {
      transition-delay: 3.0625s; }
    .mobile-nav .item:nth-child(42) {
      transition-delay: 3.125s; }
    .mobile-nav .item:nth-child(43) {
      transition-delay: 3.1875s; }
    .mobile-nav .item:nth-child(44) {
      transition-delay: 3.25s; }
    .mobile-nav .item:nth-child(45) {
      transition-delay: 3.3125s; }
    .mobile-nav .item:nth-child(46) {
      transition-delay: 3.375s; }
    .mobile-nav .item:nth-child(47) {
      transition-delay: 3.4375s; }
    .mobile-nav .item:nth-child(48) {
      transition-delay: 3.5s; }
    .mobile-nav .item:nth-child(49) {
      transition-delay: 3.5625s; }
    .mobile-nav .item:nth-child(50) {
      transition-delay: 3.625s; }
    .mobile-nav .item:nth-child(51) {
      transition-delay: 3.6875s; }
    .mobile-nav .item:nth-child(52) {
      transition-delay: 3.75s; }
    .mobile-nav .item:nth-child(53) {
      transition-delay: 3.8125s; }
    .mobile-nav .item:nth-child(54) {
      transition-delay: 3.875s; }
    .mobile-nav .item:nth-child(55) {
      transition-delay: 3.9375s; }
    .mobile-nav .item:nth-child(56) {
      transition-delay: 4s; }
    .mobile-nav .item:nth-child(57) {
      transition-delay: 4.0625s; }
    .mobile-nav .item:nth-child(58) {
      transition-delay: 4.125s; }
    .mobile-nav .item:nth-child(59) {
      transition-delay: 4.1875s; }
    .mobile-nav .item:nth-child(60) {
      transition-delay: 4.25s; }
    .mobile-nav .item:nth-child(61) {
      transition-delay: 4.3125s; }
    .mobile-nav .item:nth-child(62) {
      transition-delay: 4.375s; }
    .mobile-nav .item:nth-child(63) {
      transition-delay: 4.4375s; }
    .mobile-nav .item:nth-child(64) {
      transition-delay: 4.5s; }
    .mobile-nav .item:nth-child(65) {
      transition-delay: 4.5625s; }
    .mobile-nav .item:nth-child(66) {
      transition-delay: 4.625s; }
    .mobile-nav .item:nth-child(67) {
      transition-delay: 4.6875s; }
    .mobile-nav .item:nth-child(68) {
      transition-delay: 4.75s; }
    .mobile-nav .item:nth-child(69) {
      transition-delay: 4.8125s; }
    .mobile-nav .item:nth-child(70) {
      transition-delay: 4.875s; }
    .mobile-nav .item:nth-child(71) {
      transition-delay: 4.9375s; }
    .mobile-nav .item:nth-child(72) {
      transition-delay: 5s; }
    .mobile-nav .item:nth-child(73) {
      transition-delay: 5.0625s; }
    .mobile-nav .item:nth-child(74) {
      transition-delay: 5.125s; }
    .mobile-nav .item:nth-child(75) {
      transition-delay: 5.1875s; }
    .mobile-nav .item:nth-child(76) {
      transition-delay: 5.25s; }
    .mobile-nav .item:nth-child(77) {
      transition-delay: 5.3125s; }
    .mobile-nav .item:nth-child(78) {
      transition-delay: 5.375s; }
    .mobile-nav .item:nth-child(79) {
      transition-delay: 5.4375s; }
    .mobile-nav .item:nth-child(80) {
      transition-delay: 5.5s; }
    .mobile-nav .item:nth-child(81) {
      transition-delay: 5.5625s; }
    .mobile-nav .item:nth-child(82) {
      transition-delay: 5.625s; }
    .mobile-nav .item:nth-child(83) {
      transition-delay: 5.6875s; }
    .mobile-nav .item:nth-child(84) {
      transition-delay: 5.75s; }
    .mobile-nav .item:nth-child(85) {
      transition-delay: 5.8125s; }
    .mobile-nav .item:nth-child(86) {
      transition-delay: 5.875s; }
    .mobile-nav .item:nth-child(87) {
      transition-delay: 5.9375s; }
    .mobile-nav .item:nth-child(88) {
      transition-delay: 6s; }
    .mobile-nav .item:nth-child(89) {
      transition-delay: 6.0625s; }
    .mobile-nav .item:nth-child(90) {
      transition-delay: 6.125s; }
    .mobile-nav .item:nth-child(91) {
      transition-delay: 6.1875s; }
    .mobile-nav .item:nth-child(92) {
      transition-delay: 6.25s; }
    .mobile-nav .item:nth-child(93) {
      transition-delay: 6.3125s; }
    .mobile-nav .item:nth-child(94) {
      transition-delay: 6.375s; }
    .mobile-nav .item:nth-child(95) {
      transition-delay: 6.4375s; }
    .mobile-nav .item:nth-child(96) {
      transition-delay: 6.5s; }
    .mobile-nav .item:nth-child(97) {
      transition-delay: 6.5625s; }
    .mobile-nav .item:nth-child(98) {
      transition-delay: 6.625s; }
    .mobile-nav .item:nth-child(99) {
      transition-delay: 6.6875s; }
    .mobile-nav .item:nth-child(100) {
      transition-delay: 6.75s; }
    .mobile-nav .item .link {
      display: block;
      padding: 0.5rem 1.25rem;
      color: white;
      font-size: 2rem; }
      .mobile-nav .item .link:hover, .mobile-nav .item .link.active {
        color: #4299e1; }

.wrapper {
  padding-block-end: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh; }
  @media (min-width: 768px) {
    .wrapper {
      padding-block-end: 0; } }

.main {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  padding: 2.5rem 0; }
  @media (min-width: 1024px) {
    .main {
      padding: 5rem 0; } }
  .main:focus {
    outline: 0; }

.column.centre {
  flex: 1 1 0%; }

.btn {
  display: block;
  border: 2px solid #2b6cb0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #2b6cb0; }
  .btn:hover {
    background-color: #4299e1; }
  .btn.active {
    color: #2a4365;
    background-color: white; }

/* ------------------ example styles ------------------ */
.mod--hidden {
  overflow: hidden; }

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.js-carrousel-container {
  margin: 0.5rem auto;
  width: 640px;
  max-width: 80%;
  position: relative; }

@media (min-width: 1024px) {
  .js-carrousel-right {
    margin-left: 2.5rem;
    float: right; }
  .js-carrousel-left {
    margin-right: 2.5rem;
    float: left; } }

.carrousel__control__list {
  position: absolute;
  list-style-type: none;
  bottom: 2rem;
  right: 0;
  left: 0;
  margin-block-start: -0.5em;
  padding-left: 0;
  text-align: center; }

.carrousel__control__list__item {
  display: inline-block;
  margin: 0 0.5em; }

.carrousel__control__list__link {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #fff;
  border: 1px solid #148297;
  border-radius: 1em;
  cursor: pointer; }

.carrousel__button-container {
  position: absolute; }

.carrousel__button__previous {
  top: 50%;
  left: 0;
  margin-left: 20px; }

.carrousel__button__next {
  top: 50%;
  right: 0;
  margin-right: 20px; }

.carrousel__button__button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 20px;
  height: 20px; }

/* only for minimalist example */
.carrousel__content[aria-hidden="true"] {
  display: none; }

/* ------------------ State rules ------------------ */
.carrousel__control__list__link:focus,
.carrousel__control__list__link:hover,
.carrousel__control__list__link:active,
.carrousel__control__list__link[aria-selected="true"] {
  background: #2b6cb0; }

.carrousel__control__list__link:focus,
.carrousel__control__list__link:hover,
.carrousel__control__list__link:active {
  outline: 2px dotted #2b6cb0; }

/* ------------------ transition fade ------------------ */
.fade .carrousel__content {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  white-space: normal; }

.fade .carrousel__content[aria-hidden="true"] {
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s; }

.fade .carrousel__content[aria-hidden="true"] {
  display: none; }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  background-color: #bee3f8; }
  .footer-inner {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.5rem; }
    @media (min-width: 768px) {
      .footer-inner {
        display: flex; } }
  .footer .socials {
    display: flex;
    justify-content: center; }
