<div class="js-carrousel relative">
    <div class="js-carrousel__container mod--hidden"
   data-carrousel-btn-previous-img="/img/icons/left.svg"
   data-carrousel-btn-next-img="/img/icons/right.svg"
   data-carrousel-btn-previous-text="Montrer l'image précédente"
   data-carrousel-btn-next-text="Montrer l'image suivante"
   data-carrousel-span-text-class="invisible">
        <img class="js-carrousel__content" loading="lazy" src="https://placeimg.com/640/480/nature" width="640" height="480"/>
        <img class="js-carrousel__content" loading="lazy" src="https://placeimg.com/640/480/architecture" width="640" height="480"/>
        <img class="js-carrousel__content" loading="lazy" src="https://placeimg.com/640/480/people" width="640" height="480"/>
        <img class="js-carrousel__content" loading="lazy" src="https://placeimg.com/640/480/animals" width="640" height="480"/>
    </div>
</div>
