<div class="footer-wrapper">

    <footer id="footer" class="footer">

        <div class="footer-inner container">

            <p class="text-purple-900 pb-8 md:pb-0">© 2019 Skeleventy: A skeleton boilerplate built with <a href="https://www.11ty.io/">Eleventy.</a></p>

            {% include 'components/social-icons.njk' %}

        </div>

    </footer>

</div>
