---
permalink: 404.html
eleventyExcludeFromCollections: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: Oops!
---

<header>
  <h1 class="page-title">{{ title }}</h1>
</header>

<div class="content">
  <p>Désolé, cette page n'existe pas !</p>
  <p>
    <a href="/">Retourner à la page d'accueil.</a>
  </p>
</div>

</main>
