---
meta_title: L’histoire de la Maison Saint Vincent
permalink: /histoire/
meta_description:
body_class: histoire
title: Notre Histoire
---

<blockquote>
    La charité est l'âme des vertus.
    <cite>Saint Vincent de Paul &laquo;&nbsp;Les maximes spirituelles&nbsp;&raquo; (posthume, 1576)</cite>
</blockquote>

<section class="histoire-1">

    <div class="js-carrousel-container js-carrousel-right">
        {% include "carousels/facade.njk" %}
    </div>

    <p>
        La Maison Saint Vincent a été fondée le 29 septembre 1869 grâce au curé Mr PETIT et du don d’une Fille de la Charité permettant d’acquérir plusieurs bâtiments afin d'y établir des œuvres dans l'inspiration de Saint vincent de Paul, qui fut ordonné prêtre dans la commune de Château l'Evêque le 23 septembre 1600.
    </p>
    <p>
        Ces oeuvres ont évolué en fonction des besoins de la commune (école maternelle, soins à domicile, dispensaire, catéchèse puis maison de retraite). Historiquement réservée à l'accueil des Filles de la Charité de Saint Vincent de Paul, l'établissement accueille depuis fin 2019 des résidents laïcs.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="http://loripsum.net/" target="_blank">Duo Reges: constructio interrete.</a>
        <b>Tollitur beneficium, tollitur gratia, quae sunt vincla concordiae.</b> Eadem nunc mea adversum te oratio est. Mihi quidem Antiochum, quem audis, satis belle videris attendere. <mark>Itaque fecimus.</mark> Quid, si etiam iucunda memoria est praeteritorum malorum? Non risu potius quam oratione eiciendum? </p>

    <p>
        <a href="http://loripsum.net/" target="_blank">Murenam te accusante defenderem.</a>
        <mark>Quamquam id quidem, infinitum est in hac urbe;</mark>
        <a href="http://loripsum.net/" target="_blank">Nos paucis ad haec additis finem faciamus aliquando;</a>
        <a href="http://loripsum.net/" target="_blank">Venit ad extremum;</a> Quamvis enim depravatae non sint, pravae tamen esse possunt. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem. Equidem soleo etiam quod uno Graeci, si aliter non possum, idem pluribus verbis exponere.</p>

    <p>Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Cur igitur, cum de re conveniat, non malumus usitate loqui? Utram tandem linguam nescio? Sit hoc ultimum bonorum, quod nunc a me defenditur; Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Ergo hoc quidem apparet, nos ad agendum esse natos. <b>Quae cum dixisset, finem ille.</b> Iam doloris medicamenta illa Epicurea tamquam de narthecio proment: Si gravis, brevis; Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem. Semper enim ex eo, quod maximas partes continet latissimeque funditur, tota res appellatur. Numquam facies. </p>

</section>

<section class="histoire-1">

    <div class="js-carrousel-container js-carrousel-left">
        {% include "carousels/facade.njk" %}
    </div>

    <p>
        La Maison Saint Vincent a été fondée le 29 septembre 1869 grâce au curé Mr PETIT et du don d’une Fille de la Charité permettant d’acquérir plusieurs bâtiments afin d'y établir des œuvres dans l'inspiration de Saint vincent de Paul, qui fut ordonné prêtre dans la commune de Château l'Evêque le 23 septembre 1600.
    </p>
    <p>
        Ces oeuvres ont évolué en fonction des besoins de la commune (école maternelle, soins à domicile, dispensaire, catéchèse puis maison de retraite). Historiquement réservée à l'accueil des Filles de la Charité de Saint Vincent de Paul, l'établissement accueille depuis fin 2019 des résidents laïcs.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="http://loripsum.net/" target="_blank">Duo Reges: constructio interrete.</a>
        <b>Tollitur beneficium, tollitur gratia, quae sunt vincla concordiae.</b> Eadem nunc mea adversum te oratio est. Mihi quidem Antiochum, quem audis, satis belle videris attendere. <mark>Itaque fecimus.</mark> Quid, si etiam iucunda memoria est praeteritorum malorum? Non risu potius quam oratione eiciendum? </p>

    <p>
        <a href="http://loripsum.net/" target="_blank">Murenam te accusante defenderem.</a>
        <mark>Quamquam id quidem, infinitum est in hac urbe;</mark>
        <a href="http://loripsum.net/" target="_blank">Nos paucis ad haec additis finem faciamus aliquando;</a>
        <a href="http://loripsum.net/" target="_blank">Venit ad extremum;</a> Quamvis enim depravatae non sint, pravae tamen esse possunt. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem. Equidem soleo etiam quod uno Graeci, si aliter non possum, idem pluribus verbis exponere.</p>

    <p>Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Cur igitur, cum de re conveniat, non malumus usitate loqui? Utram tandem linguam nescio? Sit hoc ultimum bonorum, quod nunc a me defenditur; Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Ergo hoc quidem apparet, nos ad agendum esse natos. <b>Quae cum dixisset, finem ille.</b> Iam doloris medicamenta illa Epicurea tamquam de narthecio proment: Si gravis, brevis; Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem. Semper enim ex eo, quod maximas partes continet latissimeque funditur, tota res appellatur. Numquam facies. </p>

</section>