---
meta_title: L'histoire de la Maison Saint Vincent
permalink: /histoire/
meta_description:
body_class: histoire
title: Notre Histoire
carrousel1:
  - url: https://placeimg.com/640/480/nature
    width: 640
    height: 480
  - url: https://placeimg.com/640/480/architecture
    width: 640
    height: 480
  - url: https://placeimg.com/640/480/people
    width: 640
    height: 480
  - url: https://placeimg.com/640/480/animals
    width: 640
    height: 480
carrousel2:
  - url: https://placeimg.com/640/480/nature
    width: 640
    height: 480
  - url: https://placeimg.com/640/480/architecture
    width: 640
    height: 480
  - url: https://placeimg.com/640/480/people
    width: 640
    height: 480
  - url: https://placeimg.com/640/480/animals
    width: 640
    height: 480
---
{% import "macros/utils.njk" as utils %}

{{ utils.blockquote("La charité est l'âme des vertus.","Saint Vincent de Paul", "Les maximes spirituelles", "posthume, 1576" ) }}

<section class="section histoire-1">

  <div class="js-carrousel-container js-carrousel-left">
    {{ utils.carrousel(carrousel1) }}
  </div>

  <p>
        La Maison Saint Vincent a été fondée le 29 septembre 1869 grâce au curé Mr PETIT et du don d'une Fille de la Charité permettant d'acquérir plusieurs bâtiments afin d'y établir des œuvres dans l'inspiration de Saint vincent de Paul, qui fut ordonné prêtre dans la commune de Château l'Evêque le 23 septembre 1600.
    </p>
  <p>
        Ces oeuvres ont évolué en fonction des besoins de la commune (école maternelle, soins à domicile, dispensaire, catéchèse puis maison de retraite). Historiquement réservée à l'accueil des Filles de la Charité de Saint Vincent de Paul, l'établissement accueille depuis fin 2019 des résidents laïcs.
    </p>

</section>

<section class="section histoire-2">

  <div class="js-carrousel-container js-carrousel-right">
    {{ utils.carrousel(carrousel2) }}
  </div>

  <h1>Ita relinquet duas, de quibus etiam atque etiam consideret.</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Istam voluptatem perpetuam quis potest praestare sapienti? Quia dolori non voluptas contraria est, sed doloris privatio. Ergo, si semel tristior effectus est, hilara vita amissa est? Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Non laboro, inquit, de nomine. Quid sequatur, quid repugnet, vident. Nummus in Croesi divitiis obscuratur, pars est tamen divitiarum. Duo Reges: constructio interrete. <i>Quare attende, quaeso.</i> Quodsi vultum tibi, si incessum fingeres, quo gravior viderere, non esses tui similis; </p>

  <p>Illa argumenta propria videamus, cur omnia sint paria peccata. Bonum valitudo: miser morbus. <b>Etiam beatissimum?</b>
    <i>Aliter autem vobis placet.</i> Itaque hic ipse iam pridem est reiectus; Nihil ad rem! Ne sit sane; </p>

  <h2>Duo enim genera quae erant, fecit tria.</h2>

  <p>
    <mark>Peccata paria.</mark> Quamquam haec quidem praeposita recte et reiecta dicere licebit. Quod cum ita sit, perspicuum est omnis rectas res atque laudabilis eo referri, ut cum voluptate vivatur. Quia nec honesto quic quam honestius nec turpi turpius. Ergo hoc quidem apparet, nos ad agendum esse natos. Iam in altera philosophiae parte. Ita prorsus, inquam; Igitur ne dolorem quidem. </p>

  <ul>
    <li>Iam enim adesse poterit.</li>
    <li>Et quidem illud ipsum non nimium probo et tantum patior, philosophum loqui de cupiditatibus finiendis.</li>
  </ul>

  <ol>
    <li>Res enim fortasse verae, certe graves, non ita tractantur, ut debent, sed aliquanto minutius.</li>
    <li>Quid de Platone aut de Democrito loquar?</li>
    <li>Num igitur eum postea censes anxio animo aut sollicito fuisse?</li>
    <li>Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus gratiam.</li>
  </ol>

</section>
