---
meta_title: Qui sommes-nous ?
permalink: /qui-sommes-nous/
meta_description:
body_class: qui-sommes-nous
title: Qui sommes-nous ?
---
{% import "macros/utils.njk" as utils %}

<h1>Qui est in parvis malis.</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tamen a proposito, inquam, aberramus. Duo Reges: constructio interrete. Estne, quaeso, inquam, sitienti in bibendo voluptas? <i>Philosophi autem in suis lectulis plerumque moriuntur.</i> Tollitur beneficium, tollitur gratia, quae sunt vincla concordiae. Erit enim instructus ad mortem contemnendam, ad exilium, ad ipsum etiam dolorem. Quod autem satis est, eo quicquid accessit, nimium est; <mark>Nunc vides, quid faciat.</mark>
</p>

<h2>Quae cum magnifice primo dici viderentur, considerata minus probabantur.</h2>

<p>Dic in quovis conventu te omnia facere, ne doleas. Quis istud possit, inquit, negare? Quid enim de amicitia statueris utilitatis causa expetenda vides. <i>Nam ista vestra: Si gravis, brevis;</i> Atque ab isto capite fluere necesse est omnem rationem bonorum et malorum. <b>Quodsi ipsam honestatem undique pertectam atque absolutam.</b> Longum est enim ad omnia respondere, quae a te dicta sunt. At, illa, ut vobis placet, partem quandam tuetur, reliquam deserit. </p>

<ol>
  <li>An dolor longissimus quisque miserrimus, voluptatem non optabiliorem diuturnitas facit?</li>
  <li>Quod ea non occurrentia fingunt, vincunt Aristonem;</li>
  <li>Prodest, inquit, mihi eo esse animo.</li>
  <li>Quid ergo attinet gloriose loqui, nisi constanter loquare?</li>
  <li>Prioris generis est docilitas, memoria;</li>
  <li>Quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</li>
</ol>

<ul>
  <li>Ego vero volo in virtute vim esse quam maximam;</li>
  <li>Experiamur igitur, inquit, etsi habet haec Stoicorum ratio difficilius quiddam et obscurius.</li>
  <li>Qua ex cognitione facilior facta est investigatio rerum occultissimarum.</li>
  <li>Quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</li>
</ul>

<p>
  <i>Videmus igitur ut conquiescere ne infantes quidem possint.</i> Summus dolor plures dies manere non potest? Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. <b>Nunc vides, quid faciat.</b> Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Sin dicit obscurari quaedam nec apparere, quia valde parva sint, nos quoque concedimus; Quam tu ponis in verbis, ego positam in re putabam. <a href="http://loripsum.net/" target="_blank">Non igitur bene.</a>
</p>

<p>Itaque nostrum est-quod nostrum dico, artis est-ad ea principia, quae accepimus. Sin aliud quid voles, postea. Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Sed quid ages tandem, si utilitas ab amicitia, ut fit saepe, defecerit? <a href="http://loripsum.net/" target="_blank">Poterat autem inpune;</a> Sed emolumenta communia esse dicuntur, recte autem facta et peccata non habentur communia. Mihi, inquam, qui te id ipsum rogavi? </p>

<p>
  <mark>Quid ad utilitatem tantae pecuniae?</mark> Aufert enim sensus actionemque tollit omnem. Quid enim tanto opus est instrumento in optimis artibus comparandis? Causa autem fuit huc veniendi ut quosdam hinc libros promerem. <b>Simus igitur contenti his.</b> Atqui haec patefactio quasi rerum opertarum, cum quid quidque sit aperitur, definitio est. Bestiarum vero nullum iudicium puto. <a href="http://loripsum.net/" target="_blank">At iam decimum annum in spelunca iacet.</a>
</p>

<p>Ita graviter et severe voluptatem secrevit a bono. Quis contra in illa aetate pudorem, constantiam, etiamsi sua nihil intersit, non tamen diligat? Quod cum dixissent, ille contra. <i>Praeclare hoc quidem.</i> Illa videamus, quae a te de amicitia dicta sunt. Non enim solum Torquatus dixit quid sentiret, sed etiam cur. </p>
