---
meta_title: La vie des résidents à l'EHPA Maison Saint Vincent
permalink: /ma-vie-ehpa/
meta_description:
body_class: ma-vie
title: Ma Vie En EHPA
---

{% import "macros/utils.njk" as utils %}

{{ utils.blockquote("La charité est l'âme des vertus.","Saint Vincent de Paul", "Les maximes spirituelles", "posthume, 1576" ) }}

{{ utils.blockquote("La charité fraternelle est le paradis des sociétés religieuses.","Saint Vincent de Paul", "Les maximes spirituelles", "posthume, 1576" ) }}

{{ utils.blockquote("Le Paradis de la terre est comme celui du Ciel dans la charité.","Saint Vincent de Paul", "Les maximes spirituelles", "posthume, 1576" ) }}

{{ utils.blockquote("Il n'est rien de plus désirable, ni de plus délicieux, que de vivre avec ceux qu'on aime.","Saint Vincent de Paul", "Les maximes spirituelles", "posthume, 1576" ) }}
